<div class="row text-center breather">
  <h1>Notewiki</h1>
  <h3>Easy to create Markdown Wikis</h3>
</div>
<div class="row breather-lg">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron shadow">

      <h2 class="text-center">Create and Share Today!</h2>
      <div class="text-center breather">
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-info btn-lg shadow-sm' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1">
    <h3 class="text-center">Create a Public Wiki</h3>
  </div>
  <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-1">
    <h3 class="text-center">Create a Private Wiki</h3>
  </div>
</div>
